<% include ./partials/header %>

<div class="container">
    <h1>Show page</h1>

    <p>
        <%= showData["Title"] %>
        <%= showData["Year"] %>
    </p>
    
    <p>
        <%= showData["Plot"] %>
    </p>
    
    <a href="#" onclick="history.go(-1)">Go Back</a>
</div>


<% include ./partials/footer %>