body {
    background-color: #bcbcbc;
}

ul {
  list-style: none;
}

#searchForm {
    text-align: center;
    margin: auto;
    margin-top: 15%;
    max-width: 500px
}

#searchResults {
    text-align: center;
}

.carousel {
    width: 500px;
    height: 700px;
    margin: 0 auto;
}

.carousel-inner img{
    height: 70%;
    width: 70%;
    display: block;
    margin: auto;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}