body {
    background-color: #bcbcbc;
    margin-top: 50px;
}

ul {
  list-style: none;
}

#searchForm {
    text-align: center;
    margin: auto;
    margin-top: 15%;
    max-width: 500px
}

#searchResults {
    text-align: center;
}

.carousel {
    width: 500px;
    height: 700px;
    margin: 0 auto;
}

.carousel-inner img {
    height: 680px;
    width: auto;
    margin: auto;
}

.cardContent {
    display: table;
    height: 45px;
    width: 100%;
    border-bottom: 1px dashed grey;
}

.cardContent p {
    display: table-cell;
    vertical-align: middle;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}